<div id="mySidenav" class="sidenav">
  <a href="/login">Login</a>
  <a href="/useruploads">User Uploads</a>
  <a href="/form">Add Your Picture</a>
  <h1>Click the Button to See Pictures Near You</h1>
  <button id="searchButton">Submit</button>
</div>

<div class="row">
    <div class="col-sm-12" id="map"></div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWvChiWYovzbffWYFQGl1BglNdDgiAsPg&callback=initMap">
</script>
<script src="assets/js/map.js"></script>
