<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/login">Login</a>
  <a href="/picresults">Find Pictures Near You</a>
  <a href="/form">Add Your Picture</a>
  <a href="#">Change Location</a>
</div>

<div class="row">
    <div class="col-sm-12" id="map"></div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWvChiWYovzbffWYFQGl1BglNdDgiAsPg&callback=initMap">
</script>
<script src="assets/js/map.js"></script>
