<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          {{#each user}}
          <div class="div">
            <p>
              <strong>Title</strong>: {{title}}</p>
            <p>
              <strong>Tags</strong>: {{tags}}</p>
            <p>
              <strong>Zip Code:</strong> {{zipcode}}</p>

            <img src={{photoURL}} width="500"/>

          </div>

          {{/each}}
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>